fastapi==0.111.1
uvicorn[standard]==0.30.1
plexapi==4.15.4
httpx==0.27.0
jinja2==3.1.4
python-dotenv==1.0.1
pydantic-settings==2.3.4
beautifulsoup4==4.12.3
PyYAML==6.0.1
numpy==1.26.4
sentence-transformers==3.0.1
